
body{
    background-color: #f47371;
}
.field{
    height: 400px;
    background: #fff;
    padding: 10px;
    background-color: bisque;
    margin-left: 7%;
    margin-bottom: 33px;
    box-shadow: -17px 12px 15px #888888;
}
ul.list-extensi {
    font-size: 23px;
}
ul.list-extensi i.ok {
    float: right;
    color: #00ae11;
}
ul.list-extensi i.no {
    float: right;
    color: #ec782e;
}
#progress-bar {
    width: 100%;
}
.progress {
    height: 25px;
    width: 100%;
    box-shadow: -17px 12px 15px #888888;
}
.progress-info {
    color: #000;
    text-align: center;
    font-weight: bold;
}
.run-cms{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.environments{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}